{% extends 'djangoapp/base.html' %}

{% block title %} Dealership {% endblock %}

{% block content %}

    <!--Add a dealer table here -->

    <table class="table" id="table" data-filter-control="true">
        <thead>
            <tr>
                <th data-field="id">ID</th>
                <th data-field="dealername">Dealer</th>
                <th data-field="address">Address</th>
                <th data-field="city">City</th>
                <th data-field="state" data-filter-control="select">State</th>
                <th data-field="zip">Zip</th>

            </tr>
        </thead>
        <tbody>
            {% for dealer in dealerships %}
                <tr>
                    <td>{{dealer.id}}</td>
                    <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{dealer.full_name}}</a></td>
                    <td>{{dealer.address}}</td>
                    <td>{{dealer.city}}</td>
                    <td>{{dealer.st}}</td>
                    <td>{{dealer.zip}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        $(function() {
          $('#table').bootstrapTable()
        })
      </script>

    {{ dealer_names }}

{% endblock content %}
